@charset "UTF-8";

body{

    background-image: url(imagens/wallpaper001.jpg);
}

div.quadrado{

    border: 2px solid black;
    height: 200px;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: gray;
}

#q1{

    background-color: skyblue;
}

#q2{

    background-image: linear-gradient(to bottom,yellow,red);
}

#q3{

    background-image: url(imagens/pattern003.png);
}